<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <input id="pass" type="password" placeholder="enter your new password">
  <button onclick="handleclick()">Submit</button>
 

</body>
<script>
         let token = '<%=  token  %>'
        console.log(token)
        let passwordTag = document.querySelector('#pass');

        const handleclick = async()=>{
            let val = passwordTag.value
            console.log(val)

            let res = await fetch(`http://localhost:8090/user/passwordToken/${token}`,{
            
                method:"POST",
                headers:{
                    'content-type':'application/json'
                },
                body:JSON.stringify({password:val})
            })
           
            let data = await res.json();
          
           
        }


</script>
</html>